/* common */
body {
    width: 1200px;
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* header */
.site_header {
    height: 100px;
    position: relative;
}

.logo {
    width: 150px;
    position: absolute;
    left: 30px;
    bottom: 20px;
}

.vertical-line {
    border-left: 1px solid #E5E5E5;
    position: absolute;
    left: 210px;
    height: 100px;
}

/* nav */
nav {
    width: 1440px;
    margin: 30px;
}

nav>.navigator {
    color: #8C8C8C;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

/* main */
.hero {
    position: relative;
}

.hero > img{
    width: 1200px;
    margin-bottom: 20px;
    border-radius: 50px;
}

.hero > .logo-text {
    position: absolute;
    left: 50px;
    bottom: 80px;
    font-size: 1.5rem;
    color: white;
    font-family: 'Raleway', sans-serif;
}

div.container {
    margin-top: 20px;
}


.title > .leadership {
    height: 70px;
    border-radius: 30px;
    background-color: #DBDBDB;
}

.sidebar {
    width: 150px;
    height: 400px;
    float: left;
    background-color: #99A9B2;
}

.container > .main-page {
    width: 1060px;
    height: 400px;
    float: left;
    background-color: #A6D1F0;
}

/* footer */
footer.site_footer {
    height: 100px;
    background-color: #EFDFB4;
}




